.navbar {
    margin: 0rem;
    box-sizing: border-box;
    padding: 0.5rem 1rem;
    background-color: lightskyblue;
}

.container {
    display: flex;
    align-self: center;
    justify-content: space-evenly;
    flex: 1;
}

.container a {
    text-decoration: none;
}

.container li {
    list-style: none;
    padding: 0.5rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}

.container li:hover {
    list-style: none;
    background-color: rgb(125, 127, 212);
}

.active {
    background-color: lightgray;
    border-radius: 0.5rem;
}